<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CaddyExportLite.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <CaddyExportLite.Client.Properties.Settings>
            <setting name="ClientGUID" serializeAs="String">
                <value>226d7253-012a-457c-b98c-f3e82e0d7bf3</value>
            </setting>
            <setting name="HubConnectionURL" serializeAs="String">
                <value>http://localhost:10790/</value>
            </setting>
        </CaddyExportLite.Client.Properties.Settings>
    </applicationSettings>
</configuration>